
        .navbar{
            background-color: brown;
        }
        .navbar a{
            text-decoration: none;
            color: white;
            display: inline-block;
            text-align : center;
            padding: 16px;
            margin: 5px;
        }
        .navbar a:hover{
           background-color: blue;
        }
        link.a:end{
            text-align: right;
          /*  margin:900px */
        }
        /* body{
            background-color: yellow
        } */
        img{
            width:75; height: 60px;
            float:right;
        }
        body{
            background-color: bisque;
        }
        .chat a{
            float:left;
        }
.link a:hover a:active{
color: black;
background-color: purple;
}